form( method="post" enctype="multipart/formdata" action="admin/actuCompteUtilisateur" target="_self" )
	label( for="login" ).
		Login :
		
	input( type="text" )
	input( type="text" )
	input( type="text" )
	input( type="text" )
	input( type="text" )
	input( type="text" )
