head
	title= title
	meta( name="charset" value="UTF-8" )
	meta( name="author" value="Yannick Le Tallec" )
	meta( name="desciption" value="" )
	meta( name="keywords" value="" )
	link( href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" )
	link( type="text/css" rel="stylesheet" href="styles.css" )
	link( type="text/css" rel="stylesheet" href="reset.css" )
