h1.
	#{ login }, votre compte à bien été validé. Nous vous souhaitons plein d'apprentisage.
p. 
	Ne négligez pas la pratique quand même !

a( href="http://localhost:3000" target="_self" )
	input( type="button" value="Revenir sur le site" )

