.titreVueListe
	h2= title

.listing( class="liste_admin" )
	button.ajouter( value="Ajouter" onclick="javascript:gererElement( this, '" + domaine + "', 'get', null);" ) Ajouter une #{domaine}

block lignes



