.adminNav
	.compteUtilisateur( onclick="javascript:ouvrirVue( 'vueCompteUtilisateur' );" )  Mon Compte
	.ajoutezSalle( onclick="javascript:ouvrirVue( 'salles' );" )  Mes salles 
	.ajoutezConferance( onclick="javascript:ouvrirVue( 'conferences' );" ) Mes Conférences
	.ajoutezConferance( onclick="javascript:ouvrirVue( 'conferenciers' );" ) Mes Conférenciers
	.reglezPreferences( onclick="javascript:ouvrirVue( 'preferences' );" ) Mes Préférences


script( type="text/javascript" ).
	function ouvrirVue( vue ){
		var xhr = new XMLHttpRequest( vue )
	
		var path = "/admin/" + vue

		xhr.onreadystatechange = function( event ){
			if( this.status === 200 && this.readyState === 4 ){
				var el = document.querySelector( ".adminContenu .contenu" )
				el.innerHTML = this.responseText
			}
		}

		xhr.open( "GET", path )
		xhr.send()
	}
