h1.
	#{ login }, Bienvenue sur CONFRANCE. 
	Vous êtes un amoureux de la connaissance et friand de partage ?
	Nous sommes heureux de faire votre connaissance !
	
p.
	Vous recevez cet email suite à la création d'un compte sur notre site internet. Si vous êtes à l'origine du compte, merci de cliquer sur le lien suivant :
	#{hash}

	
a( href="http://localhost:3000/admin/accountValidation/" + hash )
	input( type="button" value="Valider mon compte" )
