include ./blocks/adminHead.pug

.admin
	.adminHeader
		h1 Confrance
		.
			Votre source de connaissance

		span.deconnexion( onclick="javascript:disconnect();" ) Déconnexion


	.adminContenu
		.nav
			include ./blocks/adminNav.pug

		.contenu

.msg


script( type="text/javascript" ). 
	function disconnect() { 
		// remove cookies ( rememerMe, hash ) 
		var cookies = document.cookie
		var pos = cookies.indexOf( "rememberMe" )
		
		

		console.log( "cookies : " + document.cookie ) 
	}

	function actuCompteUtilisateurForm( event ){
		event.preventDefault()

		console.log( "[ OK ] : ACTUUUUUUUUUUUUUU" ) 

		var xhr = new XMLHttpRequest()

		xhr.onreadystatechange = function( event ){
			if( this.status === 200 && this.readyState === 4 ) {
				displayMsgBox( "success", this.responseText, 5000 )
			}
		}

		xhr.open( "POST", "/admin/actuCompteUtilisateur", true )
		xhr.send()
	}
	
	function displayMsgBox( level, msg, delay ){
		var el_copy,
			el = document.querySelector( ".msg" )
		
		if( !el ){
			el = document.createElement( "div" )
			el.classList.add( "msg" )
			document.body.appendChild( el )
		}

		el.classList.add( level )
		el.innerHTML = msg			

		el_copy = el.cloneNode( true )
	
		var parent = document.querySelector( ".contenu" )

		parent.appendChild( el_copy )
		parent.insertBefore( el, parent.firstChild )

		setTimeout( function() {
			parent.removeChild( el_copy )
			el.innerHTML = ""
			el.classList.remove( "success" )
			document.body.appendChild( el )
		}, delay )
	}

	// SALLES
	//-/////////////////////////////////////////////////////////////////////////////////////////////////////////
	///////////////////////////////////////////////////////////////////////////////////////////////////////////
	function ajouterSalle( event ){
		var xhr = new XMLHttpRequest()
		
		xhr.onreadystatechange = function( event ){
			if( this.status === 200 && this.readyState === 4 ) {
				document.querySelector( ".contenu" ).innerHTML = this.responseText
			}
		}

		xhr.open( "GET", "/admin/ajouterSalle", true )
		xhr.send()
	}
	function validAjouterSalle( event ){
		event.preventDefault()

		var f = document.querySelector( "[name=formSalle]" ),
			fd = new FormData( f )

		fd.append( "latitude", document.querySelector( "#latitude" ).value )
		fd.append( "longitude", document.querySelector( "#longitude" ).value )

		var xhr = new XMLHttpRequest()
		
		xhr.onreadystatechange = function( event ){
			if( this.status === 200 && this.readyState === 4 ) {
				displayMsgBox( "success", this.responseText, 5000 )
			}
		}

		xhr.open( "POST", "/admin/validAjouterSalle", true )
		xhr.setRequestHeader( "Upgrade-Insecure-Requests", 0 )

		xhr.send( fd )
	}
	function supprimerSalle( id_salle ){

	}
	function checkNomSalle( nom ){

	}
	function chercherVilleDepuisCodePostal( event ){
		var autocomplete = document.querySelector( ".autocomplete" ) 
		if( autocomplete ){
			autocomplete.parentNode.removeChild( autocomplete )
		}
		if( event.value.length > 2 ){
			var xhr = new XMLHttpRequest()

			xhr.onreadystatechange = function( event ){
				if( this.status === 200 && this.readyState === 4 ) {
					var res = JSON.parse( this.responseText )

					var parent = document.querySelector( ".code_postal" )
					var div = document.createElement( "div" )
					div.classList.add( "autocomplete" )

					if( res.hasOwnProperty( "msg" ) ) {
						div.textContent = res.msg
					} else {
						var l = res.length
						for( var i = 0; i < l; i ++ ){
							var item = document.createElement( "div" )

							item.dataset.lng = res[ i ].longitude
							item.dataset.lat = res[ i ].latitude

							item.addEventListener( "click", function( event ){
								console.dir( this ) 

								var cp = document.querySelector( "#code_postal" )
								var ville = document.querySelector( "#ville" )

								cp.value = +this.children[ 0 ].innerText
								ville.value = this.children[ 1 ].innerText

								// update map
								var position = {
									coords : {
										latitude : this.dataset.lat,
										longitude : this.dataset.lng
									}
								}

								actualiseOSM( position )
							})

							var cp = document.createElement( "span" )
							cp.innerText = res[ i ].code_postal + " "

							var ville = document.createElement( "span" )
							ville.innerText = " " + res[ i ].nom_commune
							
							item.appendChild( cp )
							item.appendChild( ville )
							div.appendChild( item )
						}
					}
					// display results
					parent.appendChild( div )
				}
			}
			xhr.open( "POST", "/admin/codePostalVersAdresses", true )

			var data = new FormData()
			data.append( "cp", event.value )
			xhr.send( data )
		}
	}
	function ajouterChampImage( event ){
		var el = document.querySelector( ".image" )
			i = document.querySelectorAll( ".image .content" )

		if( i.length < 5 ){
			copy = i[ 0 ].cloneNode( true )
			el.appendChild( copy )
		}
	}

	// GEO LOCATING ( OS ) IFRAME :: event need to be called once, from javascript
	var onload_counter = 0
	function actualiseOSM( position ){
		onload_counter = 0
		initOSM( position )
	}

	function initOSM( position ){
		if( arguments.length === 1 ){
			lat = position.coords.latitude
			lng = position.coords.longitude
		}

		// feed hidden fields
		document.querySelector( "#latitude" ).value = lat
		document.querySelector( "#longitude" ).value = lng

		if( onload_counter === 0 ){
			var osm = document.querySelector( "#OSM" ),
			o_width = osm.getBoundingClientRect().width + "px"
			/* lng = coords ? coords.lng : 2,
			lat = coords ? coords.lat : 48 */

			osm.src = "http://cartosm.eu/map?lon=" + lng + "&lat=" + lat + "&zoom=16&width=" + o_width + "&height=350&mark=true&nav=true&pan=true&zb=inout&style=default&icon=down"	
			osm.width = "100%"
			onload_counter++
		}
	}

	function getPosition( event, f ){
		navigator.geolocation.getCurrentPosition( f )
	}
